@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');
@import "./partials/textbox";

@font-face {
    font-family: "DR2C";
    src: url("./fonts/DR2C_Font.ttf");
}

* {
    margin: 0rem;
    padding: 0rem;
    font-family: DR2C;
    font-weight: normal;

    line-height: 1.25rem;

    cursor: url('./cursors/mouse1.cur'), auto;
}
body {
    height: 100%;
}

img {
    max-width: 45%;
}

h1, h2, h3, h4, h5, h6, a, p {
    text-align: center;
}
h1, h2, h3, h4, h5, h6, p {
    color: white;
    cursor: url('./cursors/mouse3.cur'), text;
}


a {
    color: red;
    &:hover {
        color: pink;
    }
    &:visited {
        color: white;
    }
    &:active {
        color: white;
    }

    img {
        cursor: url('./cursors/mouse2.cur'), pointer;
    }
    cursor: url('./cursors/mouse2.cur'), pointer;
}


html {
    background-image: url("../images/bg.png");
    background-attachment: fixed;
    background-color: black;
    min-height: 100%;
    position: relative;
}

div {
    margin: {
        left: auto;
        right: auto;
    }
    display: block;
    max-width: auto;
}

div.header {
    margin: {
        top: 3rem;
    }
    img {
        margin: {
            left: auto;
            right: auto;
        }
        display: block;
    }
}

div.landing {
    @include textbox;
    border-image-source: url("../images/drtc_border.png");
    max-width: 45%;
}
div.contributors {
    @include textbox;
    border-image-source: url("../images/drtc_border.png");
    max-width: 29%;
    ul {
        list-style-type: none;
        text-align: center;
        li {
            padding: {
                top: 0.2rem;
                bottom: 0.2rem;
            }
        }
    }
}
div.textbox {
    @include textbox;
    border-image-source: url("../images/drtc_border.png");
    max-width: 45%;
    color: white;
}

code {
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

div.sidebar {
    color: black;
    position: absolute;
    left: 0rem;
    top: 0rem;
    width: 10%;
    height: 100%;
    background-color: lightgrey;
    div.link {
        a {
            color: darkslategray;
            &:visited {
                color: black;
            }
        }
        border: 0.1rem solid lightslategrey;
        padding: {
            left: 1rem;
            top: 0.1rem;
            bottom: 0.1rem;
        }
        background-image: linear-gradient(lightgrey, darkgray);
        &:hover {
            background-image: linear-gradient(darkgray, darkgray);
        }
        width: auto;
    }
    div.section {
        color: black;
        border-top: 0.1rem solid lightslategray;
        border-left: 0.1rem solid lightslategray;
        padding-left: 0.2rem;
        ul {
            list-style-type: disc;
        }
    }
    h2, h3 {
        color: black;
        text-align: left;
        padding: {
            left: 1rem;
            top: 0.1rem; 
            bottom: 0.1rem;
        }
    }
}

div {
    div.codeblock {
        background-color: #333;
        padding: 0.3rem;
        border-radius: 0.2rem;
        
    }
}

code {
    background-color: #333;

}

@media screen and (max-width: 1150px) {
    div.sidebar {
        h2, h3 {
            font-size: 1rem;
        }
        a {
            font-size: 0.75rem;
        }
        h2, h3, a {
            padding: {
                left: 0.15rem;
                top: 0.1rem;
                bottom: 0.1rem;
            }
        }
    }
}

@media screen and (max-width: 1010px) {
    div.sidebar {
        h2, h3 {
            font-size: 1.5vw;
        }
        a {
            font-size: 1vw;
        }
        h2, h3, a {
            padding: {
                left: 0.15vw;
                top: 0.1vw;
                bottom: 0.1vw;
            }
        }
    }
}

@media screen and (max-width: 740px) {
    div.sidebar {
        color: black;
        position: absolute;
        left: 0rem;
        top: 0rem;
        width: 20%;
        height: 100%;
        background-color: lightgrey;
        div.link {
            a {
                color: darkslategray;
                &:visited {
                    color: black;
                }
            }
            border: 0.1rem solid lightslategrey;
            background-image: linear-gradient(lightgrey, darkgray);
            &:hover {
                background-image: linear-gradient(darkgray, darkgray);
            }
            width: auto;
        }
        div.section {
            color: black;
            border-top: 0.1rem solid lightslategray;
            border-left: 0.1rem solid lightslategray;
            padding-left: 0.2rem;
            ul {
                list-style-type: disc;
            }
        }
        h2, h3 {
            color: black;
            text-align: left;
        }
    }
}
