@import url("https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap");
@font-face {
  font-family: "DR2C";
  src: url("./fonts/DR2C_Font.ttf");
}

* {
  margin: 0rem;
  padding: 0rem;
  font-family: DR2C;
  font-weight: normal;
  line-height: 1.25rem;
  cursor: url("./cursors/mouse1.cur"), auto;
  word-spacing: 0.3em;
}

body {
  height: 100%;
}

img {
  max-width: 45%;
}

h1, h2, h3, h4, h5, h6, a, p {
  text-align: center;
}

h1, h2, h3, h4, h5, h6, p {
  color: white;
  cursor: url("./cursors/mouse3.cur"), text;
}

a {
  color: red;
  cursor: url("./cursors/mouse2.cur"), pointer;
}

a:hover {
  color: pink;
}

a:visited {
  color: white;
}

a:active {
  color: white;
}

a img {
  cursor: url("./cursors/mouse2.cur"), pointer;
}

html {
  background-image: url("../images/bg.png");
  background-attachment: fixed;
  background-color: black;
  min-height: 100%;
  position: relative;
}

div {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: auto;
}

div.header {
  margin-top: 3rem;
}

div.header img {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

div.landing {
  border-top-color: transparent;
  border-top-style: solid;
  border-top-width: 20px;
  border-right-color: transparent;
  border-right-style: solid;
  border-right-width: 20px;
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 20px;
  border-left-color: transparent;
  border-left-style: solid;
  border-left-width: 20px;
  border-image-source: url("../images/drtc_border.png");
  border-image-slice: 20;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("../images/drtc_border.png");
  max-width: 45%;
}

div.landing h1, div.landing h2, div.landing h3, div.landing h4, div.landing h5, div.landing h6, div.landing p, div.landing a, div.landing div {
  background-color: black;
}

div.contributors {
  border-top-color: transparent;
  border-top-style: solid;
  border-top-width: 20px;
  border-right-color: transparent;
  border-right-style: solid;
  border-right-width: 20px;
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 20px;
  border-left-color: transparent;
  border-left-style: solid;
  border-left-width: 20px;
  border-image-source: url("../images/drtc_border.png");
  border-image-slice: 20;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("../images/drtc_border.png");
  max-width: 29%;
}

div.contributors h1, div.contributors h2, div.contributors h3, div.contributors h4, div.contributors h5, div.contributors h6, div.contributors p, div.contributors a, div.contributors div {
  background-color: black;
}

div.contributors ul {
  list-style-type: none;
  text-align: center;
}

div.contributors ul li {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

div.textbox {
  border-top-color: transparent;
  border-top-style: solid;
  border-top-width: 20px;
  border-right-color: transparent;
  border-right-style: solid;
  border-right-width: 20px;
  border-bottom-color: transparent;
  border-bottom-style: solid;
  border-bottom-width: 20px;
  border-left-color: transparent;
  border-left-style: solid;
  border-left-width: 20px;
  border-image-source: url("../images/drtc_border.png");
  border-image-slice: 20;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-source: url("../images/drtc_border.png");
  max-width: 45%;
  color: white;
}

div.textbox h1, div.textbox h2, div.textbox h3, div.textbox h4, div.textbox h5, div.textbox h6, div.textbox p, div.textbox a, div.textbox div {
  background-color: black;
}

code {
  color: white;
  font-family: 'Courier New', Courier, monospace;
}

div.sidebar {
  color: black;
  position: absolute;
  left: 0rem;
  top: 0rem;
  width: 10%;
  height: 100%;
  background-color: lightgrey;
}

div.sidebar div.link {
  border: 0.1rem solid lightslategrey;
  padding-left: 1rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
  background-image: -webkit-gradient(linear, left top, left bottom, from(lightgrey), to(darkgray));
  background-image: linear-gradient(lightgrey, darkgray);
  width: auto;
}

div.sidebar div.link a {
  color: darkslategray;
}

div.sidebar div.link a:visited {
  color: black;
}

div.sidebar div.link:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(darkgray), to(darkgray));
  background-image: linear-gradient(darkgray, darkgray);
}

div.sidebar div.section {
  color: black;
  border-top: 0.1rem solid lightslategray;
  border-left: 0.1rem solid lightslategray;
  padding-left: 0.2rem;
}

div.sidebar div.section ul {
  list-style-type: disc;
}

div.sidebar h2, div.sidebar h3 {
  color: black;
  text-align: left;
  padding-left: 1rem;
  padding-top: 0.1rem;
  padding-bottom: 0.1rem;
}

div div.codeblock {
  background-color: #333;
  padding: 0.3rem;
  border-radius: 0.2rem;
}

code {
  background-color: #333;
}

@media screen and (max-width: 1150px) {
  div.sidebar h2, div.sidebar h3 {
    font-size: 1rem;
  }
  div.sidebar a {
    font-size: 0.75rem;
  }
  div.sidebar h2, div.sidebar h3, div.sidebar a {
    padding-left: 0.15rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
  }
}

@media screen and (max-width: 1010px) {
  div.sidebar h2, div.sidebar h3 {
    font-size: 1.5vw;
  }
  div.sidebar a {
    font-size: 1vw;
  }
  div.sidebar h2, div.sidebar h3, div.sidebar a {
    padding-left: 0.15vw;
    padding-top: 0.1vw;
    padding-bottom: 0.1vw;
  }
}

@media screen and (max-width: 740px) {
  div.sidebar {
    color: black;
    position: absolute;
    left: 0rem;
    top: 0rem;
    width: 20%;
    height: 100%;
    background-color: lightgrey;
  }
  div.sidebar div.link {
    border: 0.1rem solid lightslategrey;
    background-image: -webkit-gradient(linear, left top, left bottom, from(lightgrey), to(darkgray));
    background-image: linear-gradient(lightgrey, darkgray);
    width: auto;
  }
  div.sidebar div.link a {
    color: darkslategray;
  }
  div.sidebar div.link a:visited {
    color: black;
  }
  div.sidebar div.link:hover {
    background-image: -webkit-gradient(linear, left top, left bottom, from(darkgray), to(darkgray));
    background-image: linear-gradient(darkgray, darkgray);
  }
  div.sidebar div.section {
    color: black;
    border-top: 0.1rem solid lightslategray;
    border-left: 0.1rem solid lightslategray;
    padding-left: 0.2rem;
  }
  div.sidebar div.section ul {
    list-style-type: disc;
  }
  div.sidebar h2, div.sidebar h3 {
    color: black;
    text-align: left;
  }
}
/*# sourceMappingURL=main.css.map */