@import url('https://fonts.googleapis.com/css2?family=Play:wght@700&display=swap');
@import "./partials/textbox";

* {
    margin: 0rem;
    padding: 0rem;
    font-family: 'Play', sans-serif;
}

h1, h2, h3, h4, h5, h6, a, p {
    text-align: center;
}
h1, h2, h3, h4, h5, h6, p {
    color: white;
}


a {
    color: red;
    &:hover {
        color: pink;
    }
    &:visited {
        color: white;
    }
    &:active {
        color: white;
    }
}


html {
    background-image: url("../images/bg.png");
    background-color: black;
}

div {
    margin: {
        left: auto;
        right: auto;
    }
    display: block;
    max-width: auto;
}

div.header {
    margin: {
        top: 3rem;
    }
    img {
        margin: {
            left: auto;
            right: auto;
        }
        display: block;
    }
}

div.landing {
    @include textbox;
    max-width: 52rem;
}
div.links {
    @include textbox;
    max-width: 32rem;
    ul {
        list-style-type: none;
        text-align: center;
    }
}