@mixin textbox {
    border-top-color: transparent;
    border-top-style: solid;
    border-top-width: 20px;
    border-right-color: transparent;
    border-right-style: solid;
    border-right-width: 20px;
    border-bottom-color: transparent;
    border-bottom-style: solid;
    border-bottom-width: 20px;
    border-left-color: transparent;
    border-left-style: solid;
    border-left-width: 20px;
    border-image-source: url("../images/drtc_border.png");
    border-image-slice: 20;
    border-image-width: 1;
    border-image-outset: 0;
    div {
        background-color: rgba(0, 0, 0, 0.875);
    }
}